@page
@model QuizResultsModel


<h2>Quiz @Model.QuizName Completed!</h2>

<div class="alert alert-success">
    Congradulations! You have completed the quiz.
    <p>Your final score is: @Model.FinalScore out of @Model.QuizSize.Questions.Count</p>
</div>


<div class="button-container">

<form method="post" asp-page-handler="ShowQuiz">
    <div class="button">
        <button type="submit" class="show edit-button">Review Quiz Answers</button>
    </div>
</form>


<form method="post" asp-page-handler="Reset">
    <div class="button">
        <button type="submit" class="show edit-button">Try Another Quiz</button>
    </div>
</form>
</div>